a {
  color: black;
}

#logo {
  border: 1px solid black;
  border-radius: 50px;
}

#navbar {
  border-bottom: 1px solid black;
  /*border: 1px solid black;
  border-top: 0px solid black;*/
}

#tweet-quote {
  background: 
}

.quote-text {
  font-size: 35px;
  margin: 5px;
  padding-top: 5px;
}

.quote-author {
  font-size: 25px;
}

.quote-box {
  border-radius: 50px;
}
/*
#modalitem  {
  min-width: 80vw;
  min-height: 70vw;
}*/